body {
  font-family: "Calibri";
  background-color: #101010;
  color: white;
}

header {
  height: 90px;
  border-color: #d1d0d0;
  border-style: solid;
  border-width: 0px 0px 0.5px 0px;
  font-family: "Courier New";
}

header #title {
  margin-left: 17%;
  padding-top: 45px;
  font-size: 40px;
  float: left;
}

header #subtitle {
  margin-left: 0.9%;
  padding-top: 70px;
  font-size: 15px;
  float: left;
}

header nav {
  margin-right: 10%;
  padding-top: 53px;
  font-size: 15px;
  float: right;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  float: left;
  margin-right: 20px;
  font-style: none;
}

header nav ul li a {
  font-weight: bold;
  text-decoration: none;
}

/* unvisited link */
header nav ul li a:link {
  color: white;
}

/* visited link */
header nav ul li a:visited {
  color: white;
}

/* mouse over link */
header nav ul li a:hover {
  color: rgb(172, 172, 172);
}

/* selected link */
header nav ul li a:active {
  text-decoration: underline;
}
.current-link {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

content #projects {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: "Courier New";
  font-size: 45px;
  text-align: center;
}

content {
  float: left;
  width: 100%;
  height: 750px;
  margin-top: 80px;
}

content .post {
  width: 80%;
  float: left;
  margin-left: 0%;
  overflow: hidden;
  position: relative;
}

content .post a:visited {
  color: white;
}

content .post a:link {
  color: white;
  text-decoration: underline;
}

content .post a:hover {
  color: rgb(172, 172, 172);
}

content .post .textArea {
  float: left;
  height: 100%;
  width: 44%;
  margin-left: 2%;
  font-size: 16px;
}

content .post .projectName {
  text-align: center;
  height: 25px;
  font-size: 25px;
  font-family: "Courier New";
  margin-bottom: 60px;
}

content .githubLink {
  float: left;
  width: 500px;
  position: absolute;
  bottom: 0;
}

content .post .container {
  position: relative;
  width: 44%;
  height: 0;
  padding-bottom: 22%;
  padding-left: 5%;
  float: left;
}

content .post iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

content .post img {
  padding-left: 5%;
  width: 44%;
  height: auto;
  float: left;
}

content article {
  width: 50%;
  margin-left: 20%;
  float: left;
}

content article h1 {
  font-size: 30px;
}
content article h2 {
  text-align: center;
}

content #images {
  float: left;
  width: 20%;
  margin-left: 3%;
  margin-top: 80px;
}

content #images img {
  margin-top: 30px;
}

content #contactform {
  position: relative;
  width: 80%;
  margin-left: 10%;
  float: left;
  text-align: center;
}

content #contactform h1 {
  padding-bottom: 20px;

  font-size: 30px;
}

.button {
  float: left;
  width: 10%;
  height: 315px;
  margin-top: 150px;
}

.button a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin-left: 30%;
}

.button a:hover {
  background-color: #ddd;
  color: black;
}

.button .previous {
  background-color: #f1f1f1;
  color: black;
}

.button .next {
  background-color: #4caf50;
  color: white;
}

.button .round {
  border-radius: 50%;
}
content .post a {
  color: black;
  text-decoration: none;
  font-family: "Courier New";
  font-size: 16px;
}

content .post p {
  font-size: 90%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.6s ease;
  backface-visibility: hidden;
}

.container {
  float: left;
}

.container:hover .image {
  opacity: 0.6;
}

.container:hover .middle {
  opacity: 1;
}

footer {
  float: left;
  height: 90px;
  width: 100%;
  background-color: #101010;
  border-color: #d1d0d0;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  bottom: 0px;
  position: fixed;
  z-index: 10000;
}

footer p {
  float: right;
  margin-right: 10%;
}
